.gallery_container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.gallery_container article {
    border: 1rem solid transparent;
    transition: var(transparent);
    
}

.gallery_container article:hover {
    border-color: var(--color-gray-500);
}
.in_center{
    margin-left: 35rem;
    margin-top: -2rem;
   
  }
@media screen and (max-width:1024px) {
    .gallery_container {
        margin-top: -5rem;

        grid-template-columns: 1fr 1fr ;
        gap: 2rem;
    }
    .in_center{
        
        margin-left: 22rem;

       
      }
    
}

@media screen and (max-width:600px) {
    .gallery_container {
        margin-top: -5rem;
        grid-template-columns: 1fr ;
        gap: 1rem;
    }
    .in_center{
        
        margin-left: 12rem;

       
      }
    
}
